<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Tech Fellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="head-container">
    <div class="header-left">
    <h1><%= link_to "Tech Fellow",root_path%></h1>
    </div>
    <div class="header-right">
    <ul>
     <li><%= link_to "Top",root_path%></li>
     <li><%= link_to "About",about_path%></li>
     <li><%= link_to "create",new_note_path%></li>
     <li><%= link_to "Login",new_user_session_path%></li>
     <li><%= link_to "Edit User",edit_user_registration_path%></li>
     <li><%= link_to "Index",notes_path%></li>
   </ul>
    </div>
    </div>
  </header>




<%= yield %>

<footer>
<div class="fotter-left">
<%= link_to "Tech Fellow",root_path%>
</div>

<div class="fotter-right">
  <%= link_to "Top",root_path%>
  <%= link_to "About",about_path%>
  <%= link_to "create",new_note_path%>
  <%= link_to "Login","#"%>
  <%= link_to "Index",notes_path%>
</div>

</footer>

</body>
</html>
